In [1]:
import pandas as pd

In [4]:
#unzip True.csv file
from zipfile import ZipFile
ZipFile("True.csv.zip").extractall("")

In [5]:
#unzip Fake.csv file.
from zipfile import ZipFile
ZipFile("Fake.csv.zip").extractall("")

In [6]:
#load True.csv and turn it into a dataframe.
df_true = pd.read_csv('True.csv')
print(len(df_true))
df_true.head()

21417

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [23]:
df_true['label'] = 'true'

In [24]:
df_true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true

In [7]:
#load the data and turn it into a dataframe.
df_fake = pd.read_csv('Fake.csv')
print(len(df_fake))
df_fake.head()

23481

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Yearâ€™...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obamaâ€™s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [25]:
df_fake['label'] = 'fake'

In [12]:
df_guardian = pd.read_csv('the_guardian_file.csv')
print(len(df_guardian))
df_guardian.head(2)

3878

,Unnamed: 0,id,type,sectionId,sectionName,webPublicationDate,webTitle,webUrl,apiUrl,fields,isHosted,pillarId,pillarName,bodyText,headline
0,6,world/2019/jan/01/terrawatch-landslide-tsunami...,article,world,World news,2019-01-01T21:30:12Z,Terrawatch: landslide tsunami lessons from Ana...,https://www.theguardian.com/world/2019/jan/01/...,https://content.guardianapis.com/world/2019/ja...,{'headline': 'Terrawatch: landslide tsunami le...,False,pillar/news,News,"Just over a week ago, the Indonesian volcano A...",Terrawatch: landslide tsunami lessons from Ana...
1,11,world/2019/jan/01/jair-bolsonaro-inauguration-...,article,world,World news,2019-01-01T19:40:02Z,Bolsonaro declares Brazil's 'liberation from s...,https://www.theguardian.com/world/2019/jan/01/...,https://content.guardianapis.com/world/2019/ja...,"{'headline': ""Bolsonaro declares Brazil's 'lib...",False,pillar/news,News,Jair Bolsonaro has announced Brazilâ€™s â€œliberat...,Bolsonaro declares Brazil's 'liberation from s...

In [15]:
df_guardian = df_guardian[['headline', 'pillarName', 'bodyText']]
df_guardian.head()

,headline,pillarName,bodyText
0,Terrawatch: landslide tsunami lessons from Ana...,News,"Just over a week ago, the Indonesian volcano A..."
1,Bolsonaro declares Brazil's 'liberation from s...,News,Jair Bolsonaro has announced Brazilâ€™s â€œliberat...
2,DRC electoral fraud fears rise as internet shu...,News,Fears of electoral fraud are rising in the Dem...
3,Russia explosion: baby pulled alive from tower...,News,Russian emergency services have found an 11-mo...
4,We need a #MeToo to help fight racism,News,I really understood what Deborah Frances-White...

In [26]:
df_guardian['label'] = 'true'

/Users/lauravlad/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
df_guardian.columns = ['title', 'subject', 'text', 'label']

In [30]:
df_guardian.head()

,title,subject,text,label
0,Terrawatch: landslide tsunami lessons from Ana...,News,"Just over a week ago, the Indonesian volcano A...",true
1,Bolsonaro declares Brazil's 'liberation from s...,News,Jair Bolsonaro has announced Brazilâ€™s â€œliberat...,true
2,DRC electoral fraud fears rise as internet shu...,News,Fears of electoral fraud are rising in the Dem...,true
3,Russia explosion: baby pulled alive from tower...,News,Russian emergency services have found an 11-mo...,true
4,We need a #MeToo to help fight racism,News,I really understood what Deborah Frances-White...,true

In [22]:
len(df_guardian)

3878

In [ ]:
#using sqlite3 create a database to organize list
import sqlite3
#create data base genres.db
conn = sqlite3.connect('articles.db')
#add df_all to our previously created database.
df_all.to_sql('Genres', conn, if_exists='replace', index=False)
pd.read_sql('Select * from Genres', conn)

In [ ]:
#commit the changes to our empty database
conn.commit()

In [ ]:
cur = conn.cursor()

In [ ]:
#Pull a data frame with the evolution of a certain type of genre in time
#use groupby to get a data frame with information about fantasy genre
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'fantasy';""")
df_fantasy = pd.DataFrame(cur.fetchall())
df_fantasy.columns = [x[0] for x in cur.description]

In [ ]:
cur.execute("""SELECT * FROM Genres
               WHERE Genres = 'action';""")
df_action = pd.DataFrame(cur.fetchall())
df_action.columns = [x[0] for x in cur.description]
#df_action